*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top, #c72092 , #6c14d0);
} 


section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 70px;
}
section nav .logo{
    font-size: 35px;
    color: #c72092;
    margin: 5px 0;
    cursor: pointer;
}

section nav .logo span{
    color: #6c14d0;
    text-decoration: underline;
}

section nav ul{
    list-style: none;
}
section nav ul li{
    display: inline-block;
    margin: 5px 15px;
}
section nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}
section nav ul li a:hover{
    color: #c72092;
}
section nav .icons i{
    margin: 0 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

section nav .icons i:hover{
    color: #c72092;
}
/* Poster */
 .Poster {
    margin-top: 70px;
    width: 100%;
 }


/*Products*/
.products{
    width: 100%;
    height: 140vh;
    padding: 25px 0;
}
.products h1{
    margin: 35px 0;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #c72092,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    margin-top: 50px;
}
.products .box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}
.products .box .card{
    width: 290px;
    height: 440px;
    box-shadow: 0 0 8px #6c14d0;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: #f6f6f6;
}

.products .box .card .small_card{
    display: flex;
    flex-flow: column;
    position: absolute;
    margin: 10px 0;
    transform: translateX(-20px);
    transition: 0.3s;
    opacity: 0;
}

.products .box .card:hover .small_card{
    transform: translateX(2px);
    cursor: pointer;
    opacity: 1;
}
.products .box .card .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.products .box .card .image img{
    width: 150px;
    margin: 15px 0;
    transition: 0.3s;
}
.products .box .card:hover .image img{
    transform: scale(1.1);
}
.products .box .card .small_card i{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    margin: 2px 0;
    line-height: 40px;
    border: 2px solid #999999;
    transition: 0.2s;
}
.products .box .card .small_card i:hover{
    color: #c72092;
}
.products .box .card .products_text h2{
    font-size: 25px;
    margin-top: 15px;
}

.products .box .card .products_text p{
    color: #555;
    line-height: 21px;
    margin: 8px 0;
}

.products .box .card .products_text h3{
    margin: 7px 0;
}

.products .box .card .products_text .products_star{
    color: orange;
    margin-bottom: 19px;
    cursor: pointer;
}
.products .box .card .products_text .btn{
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    color: white;
    transition: .2;
    border-radius: 4px;
}

.products .box .card .products_text .btn:hover {
    background: linear-gradient(to left, #c72092 , #6c14d0);
    opacity: .7;
}


/*Login Form*/
.login_form{
    width: 100%;
    height: 100vh;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_form .right h1{
    font-family: prevattscriptssk;
    font-size: 45px;
    margin-bottom: 40px;
}

.login_form .right p{
    margin-bottom: 5px;
}

.login_form .right .user{
    border: 2px solid #6c14d0;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    display: flex;
}

.login_form .right .user i{
    position: relative;
    top: 9px;
    left: 15px;
    color: #c72092;
}

.login_form .right .user .username{
    position: relative;
    left: 9%;
    width: 295px;
    background: none;
    outline: none;
    border: none;
    display: flex;
    font-size: 15px;
}
.login_form .right .passworg_tag{
    margin: 15px 0 5px 0;
}
.login_form .right .password{
    border: 2px solid #6c14d0;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    display: flex;
}
.login_form .right .password i{
    position: relative;
    top: 9px;
    left: 15px;
    color: #c72092;
}
.login_form .right .password input{
    position: relative;
    left: 9%;
    width: 295px;
    border: none;
    outline: none;
    display: flex;
    font-size: 15px;
}
.login_form .right .forget{
    position: relative;
    left: 60%;
    margin: 6px 0 10px 0;
    cursor: pointer;
}

.login_form .right button{
    width: 350px;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to right, #c72092 , #6c14d0);
}
.login_form .right .loging_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.login_form .right .loging_icon a{
    width: 30px;
    height: 30px;
    margin: 0 2px;
    border-radius: 50%;
    background: #f3f3f3;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.login_form .right .loging_icon img{
    width: 20px;
    margin: 5px 5px;
}


/*Footer*/
footer{
    width: 100%;
}
footer .footer_main{
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
}
footer .footer_main .tag{
    margin: 10px 0;
}
footer .footer_main .tag .center{
    text-align: center;
}
footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #1c0080;
}
footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 0;
}

footer .footer_main .tag a i{
    padding: 0 10px;
    transition: 0.3;
}
footer .footer_main .tag a i:hover{
    color: #c72092;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    margin: 0 5px;

}
footer .footer_main .tag .social_link a:hover i{
    color: red;
}
 
footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}
footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}